{% extends 'SiteContactBundle::layout.html.twig' %}



{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('site_home') }}">Accueil</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        <li class="active">Annonces</li>
    </ol>
{% endblock %}

{% block body %}
    <h2>Annonces</h2>
{% endblock %}
