{% extends "::base.html.twig" %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="site_home">Accueil</a></li>
    <li class="active">Contact</li>
</ol>
{% endblock %}

{% block sousMenu %}
    {% include 'SiteContactBundle:MenuContact:index.html.twig' %}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" charset="UTF-8" media="screen" href="{{ asset('bundles/sitecontact/css/menu_contact.css') }}"/>
{% endblock %}

{% block pageheader %}Contact{% endblock %}

{% block body %}
<p>Vous chercez à me contacter ? Vous voici au bon endroit !</p>
{% endblock %}
