{% extends "::base.html.twig" %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">Accueil</li>
</ol>
{% endblock %}

{% block body %}
<h2 class="page-header">Accueil</h2>

<p>
    When to use

Use on a limited basis and avoid creating entirely different versions of the same site. Instead, use them to complement each device's presentation. Responsive utilities should not be used with tables, and as such are not supported.
Responsive utilities test case

Resize your browser or load on different devices to test the above classes.
Visible on...

Green checkmarks indicate that class is visible in your current viewport.

    Phone
    Tablet
    Desktop✔ Desktop

Hidden on...

Here, green checkmarks indicate that class is hidden in your current viewport.

    Phone✔ Phone
    Tablet✔ Tablet
    Desktop


</p>
{% endblock %}


