{% extends "::base.html.twig" %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">Accueil</li>
</ol>
{% endblock %}

{% block pageheader %}Accueil{% endblock %}

{% block body %}

    <div class="row banniere" style="background-color: pink;"> banniere</div>

    <div class="col-xs-12 col-md-9" style="background-color: green;">
        Images are very common in modern web design. So styling images and placing it properly on the web pages is very important for improving the user experience.

        Using the Bootstrap built-in classes you can easily style images such as making the round cornered or circular images, or give them effect like thumbnails.
    </div>

    <div class="col-xs-12 col-md-3" style="background-color: yellow;">
        <p>News</p>
    </div>


{% endblock %}


